<p id="notice"><%= notice %></p>

<h1>Pastes</h1>

<% @pastes.each do |paste| %>
  <%= render paste, locals: { paste: paste } %>
  <%= link_to 'View', paste_path(paste) %>
  <%= tag :br %>
  <%= tag :br %>
<% end %>

<%= tag :br %>

<% if !logged_in? %>
  <%= link_to 'Log in to paste', login_path %>
<% end %>
