
<p id="notice"><%= notice %></p>

<%= render @paste, locals: { paste: @paste } %>

<%= link_to 'Back', request.referer %>
<% if logged_in? %>
  <% if current_user == @paste.user %>
    <%= link_to 'Edit', edit_paste_path(@paste) %>
  <% end %>
<% else %>
  <%= link_to 'Log in to edit', login_path %>
<% end %>
